# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/
ENV/
env/
venv2/
venv2

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# ChromaDB (Vector Store)
# =========================
chroma_db/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Python build
# =========================
build/
dist/
*.egg-info/

# =========================
# Cache / temp
# =========================
.cache/
tmp/

data
